<div class="container">
  <img src="../../../../../../assets/Angular.png" alt="Logo" />
  <form action="">
    <label>
      <img src="../../../../../../assets/email.png" alt="Logo Email" />
      <input type="email" placeholder="Email" />
    </label>

    <label for="">
      <img src="../../../../../../assets/senha.png" alt="Logo senha" />
      <input type="password" placeholder="Password" />
    </label>

    <button>Login</button>
  </form>
  <span>Usuario ou senha incorreto</span>
</div>
